{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
    <div style="padding: 10px;display: flex;justify-content: flex-end;align-items: center;">
        <span style="margin-right: 15px">Общая сумма заказов: {{ cl.total_sum }}</span>
        <span style="margin-right: 15px">Прибыль: {{ cl.total_profit }}</span>
    </div>
    <div style="padding: 10px;display: flex;justify-content: flex-end;align-items: center;">
        <span style="margin-right: 15px">Общая сумма ВСЕХ заказов: {{ cl.TOTAL_SUM }}</span>
        <span style="margin-right: 15px">Прибыль (ВСЯ): {{ cl.TOTAL_PROFIT }}</span>
    </div>
{% endblock %}