{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Подарок</title>

        <style>
            body {
                background-color: #f8f6f6;
            }
            .d-flex {
                display: flex;
                align-items: center;
            }
            .message {
                font-size: xxx-large;
                font-style: italic;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="d-flex">
            <img src="{% static 'images/bird.png' %}">
            <div class="message">
                <span>Шо, собрала, молодец!) Тогда вот это тебе.</span>
                <br/><br/>
                <span>Пока ты еще там на острове, но как будешь на земле тебя ждет сертификат на поход к Светке на все, что нужно! С праздником!</span>
                <br/><br/>
                <span style="float: right;">твой Б.К.</span>
            </div>
        </div>
    </body>
</html>